* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.envoi_mail {
  background-color: black;
  color: white;
}

canvas {
  margin-top: 200px;
  margin-left: 25%;
  width: 70% !important;
  height: 600px !important;
}

#index {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/football.jpg");
  background-size: 85%;
  background-position: right;
}

.container-new-mdp {
  display: none;
}

.header {
  width: 40%;
  margin-top: 150px;
  margin-left: 40%;
  color: white;
  background: #6C4B2E;
  text-align: center;
  border: 1px solid #6C4B2E;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.form-create {
  width: 40%;
  margin-top: 0;
  margin-left: 40%;
  padding: 20px;
  border: 1px solid #6C4B2E;
  background: white;
  border-radius: 0px 0px 10px 10px;
}

.input-group {
  margin: 10px 0px 10px 0px;
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

#user_type {
  height: 40px;
  width: 98%;
  padding: 5px 10px;
  background: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #6C4B2E;
  border: none;
  border-radius: 5px;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  text-align: center;
}

.profile_info img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.profile_info div {
  display: inline-block;
  margin: 5px;
}

.profile_info:after {
  content: "";
  display: block;
  clear: both;
}

.custom-nav {
  height: 50px;
  background-color: #000072;
}

.custom-nav img {
  height: 30px;
}

.custom-nav .username-connect strong {
  line-height: 47px;
  color: grey;
}

.notification_info .dn {
  display: none;
}

.notification_info .success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.top-dashboard {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: white;
}

.top-dashboard h1 {
  color: #543519;
  text-align: center;
  margin-left: 21%;
  margin-top: 20px;
  font-family: 'Graduate', sans-serif;
}

.nav-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16%;
  background: -webkit-gradient(linear, left top, left bottom, from(#543519), color-stop(64%, #694a2e), to(#6c4b2e));
  background: linear-gradient(180deg, #543519 0%, #694a2e 64%, #6c4b2e 100%);
  color: white;
}

.nav-dashboard .logo-bnc {
  position: absolute;
  top: 30px;
  left: 22%;
  height: 95px;
  width: 95px;
}

.nav-dashboard #img {
  border-radius: 10px;
}

.nav-dashboard h2 {
  margin-top: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

.nav-dashboard h2 a {
  text-align: center;
  font-family: 'Graduate', serif;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.nav-dashboard ul {
  margin-top: 190px;
  margin-left: 10%;
}

.nav-dashboard ul li {
  text-align: left;
  font-size: 30px;
}

.nav-dashboard ul li i {
  font-size: 18px;
}

.nav-dashboard ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-dashboard ul li:nth-child(2),
.nav-dashboard ul li:nth-child(3),
.nav-dashboard ul li:nth-child(4),
.nav-dashboard ul li:last-child {
  margin-top: 10px;
}

.graphique h1 {
  color: #44000d;
  text-align: center;
  font-size: 35px;
  margin-left: 21%;
  margin-top: 130px;
}

.graphique .container .row canvas {
  margin-top: 80px;
}

/*---------------------------------------------*/
a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.7;
  font-weight: normal;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder {
  color: white;
}

input::-moz-placeholder {
  color: white;
}

input:-ms-input-placeholder {
  color: white;
}

textarea::-webkit-input-placeholder {
  color: white;
}

textarea:-moz-placeholder {
  color: white;
}

textarea::-moz-placeholder {
  color: white;
}

textarea:-ms-input-placeholder {
  color: white;
}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1000;
}

.limiter::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 30.5%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.55;
}

.wrap-login100 {
  width: 390px;
  border-radius: 10px;
  position: absolute;
  top: center;
  left: 2%;
  overflow: hidden;
  background: transparent;
}

/*------------------------------------------------------------------
[ Form ]*/
.login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.login100-form-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: white;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #D8CF8E;
  padding: 29px 0;
  opacity: 1;
}

.input100 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  opacity: 1;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #7b3b14;
  background: -webkit-gradient(linear, left top, right top, from(#A56136), color-stop(#7b3b14), to(#542001));
  background: linear-gradient(left, #A56136, #7b3b14, #542001);
}

.focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: white;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 60px;
}

.input100:focus + .focus-input100::after {
  left: 23px;
  color: #7b3b14;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  left: 23px;
  color: #7b3b14;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 60px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login100-form-btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#A56136), color-stop(#f7f1ed), to(#542001));
  background: linear-gradient(left, #A56136, #f7f1ed, #542001);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #542001;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: transparent;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */