@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  padding-left: 200px;
  background-color: #fafafa;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

label {
  margin: 0;
  display: block;
}

/*//////////////////////// FORM ////////////////////////////////////////// */
.header {
  width: 40%;
  margin-top: 150px;
  margin-left: 40%;
  color: white;
  background: #CC9041;
  text-align: center;
  border: 1px solid #CC9041;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.form-create {
  width: 40%;
  margin-top: 0;
  margin-left: 40%;
  padding: 20px;
  border: 1px solid #CC9041;
  background: white;
  border-radius: 0px 0px 10px 10px;
}

.input-group {
  margin: 10px 0px 10px 0px;
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

#user_type {
  height: 40px;
  width: 98%;
  padding: 5px 10px;
  background: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #CC9041;
  border: none;
  border-radius: 5px;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  text-align: center;
}

.profile_info img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.profile_info div {
  display: inline-block;
  margin: 5px;
}

.profile_info:after {
  content: "";
  display: block;
  clear: both;
}

.custom-nav {
  height: 50px;
  background-color: #000072;
}

.custom-nav img {
  height: 30px;
}

.custom-nav .username-connect strong {
  line-height: 47px;
  color: grey;
}

.notification_info .dn {
  display: none;
}

.notification_info .success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder {
  color: white;
}

input::-moz-placeholder {
  color: white;
}

input:-ms-input-placeholder {
  color: white;
}

textarea::-webkit-input-placeholder {
  color: white;
}

textarea:-moz-placeholder {
  color: white;
}

textarea::-moz-placeholder {
  color: white;
}

textarea:-ms-input-placeholder {
  color: white;
}

.form-new {
  width: 70%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
  margin: 0px auto;
}

.form-new h2 {
  font-size: 20px;
}

.form-new input,
.form-new input[type="radio"] + label,
.form-new select option,
.form-new select,
.form-new #season_user {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 45px;
}

.form-new input[type="radio"] + label {
  line-height: 10px;
}

.form-new select {
  padding: 0px !important;
}

.form-new input:focus {
  outline: 0;
  border-color: #ff8616;
}

.form-new input:focus + .input-icon i {
  color: #ff8616;
}

.form-new input:focus + .input-icon:after {
  border-right-color: #ff8616;
}

.form-new input[type="radio"] {
  display: none;
  cursor: pointer;
}

.form-new input[type="radio"] + label,
.form-new select {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
}

.form-new input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

.form-new input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.form-new input[type="radio"] + label i {
  padding-right: 0.4em;
  cursor: pointer;
}

.form-new input[type="radio"]:checked + label,
.form-new input:checked + label:before,
.form-new select:focus,
.form-new select:active {
  background: linear-gradient(45deg, #4db1c7, #344ba8);
  border-color: linear-gradient(45deg, #4db1c7, #344ba8);
  cursor: pointer;
}

.form-new input[type="radio"]:checked + label,
.form-new input:checked + label:before {
  color: #fff;
}

.form-new input:checked + label:after {
  opacity: 1;
}

.form-new select {
  height: 3.4em;
  line-height: 2;
}

.form-new select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form-new select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form-new select:focus,
.form-new select:active {
  outline: 0;
}

.form-new select option {
  background-color: #ff8616;
  color: #fff;
  padding-left: 4.4em !important;
}

.form-new .saison-option {
  color: #e5e5e5 !important;
}

.form-new select {
  padding-left: 4.4em !important;
}

.form-new .input-group {
  margin-bottom: 1em;
  zoom: 1;
  height: 45px;
}

.form-new .input-group button {
  margin-top: 200px !important;
}

.form-new .input-group:before,
.form-new .input-group:after {
  content: "";
  display: table;
}

.form-new .input-group:after {
  clear: both;
}

.form-new .input-group-icon {
  position: relative;
}

.form-new .input-group-icon input {
  padding-left: 4.4em;
}

.form-new .input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
  font-size: 13px;
  height: 45px;
}

.form-new .input-group-icon .input-icon-saison {
  top: 30px;
}

.form-new .input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.form-new .input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.form-new .container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.form-new .row {
  zoom: 1;
}

.form-new .row:before,
.form-new .row:after {
  content: "";
  display: table;
}

.form-new .row:after {
  clear: both;
}

.form-new .col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.form-new .col-half:last-of-type {
  padding-right: 0;
}

.form-new .col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}

.form-new .col-third:last-of-type {
  padding-right: 0;
}

@media only screen and (max-width: 540px) {
  .form-new .col-half {
    width: 100%;
    padding-right: 0;
  }
}

/*//////////////////////// ADMIN ////////////////////////////////////////// */
.top-dashboard {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: white;
}

.top-dashboard h1 {
  color: #CC9041;
  text-align: center;
  margin-left: 21%;
  margin-top: 20px;
  font-family: 'Graduate', sans-serif;
}

.nav-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16%;
  background: #022659;
  background: #062C56;
  color: white;
}

.nav-dashboard .logo-bnc {
  position: absolute;
  top: 30px;
  left: 22%;
  height: 95px;
  width: 95px;
}

.nav-dashboard #img {
  border-radius: 10px;
}

.nav-dashboard h2 {
  margin-top: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

.nav-dashboard h2 a {
  text-align: center;
  font-family: 'Graduate', serif;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.nav-dashboard ul {
  margin-top: 190px;
  margin-left: 10%;
}

.nav-dashboard ul li {
  text-align: left;
  font-size: 30px;
}

.nav-dashboard ul li i {
  font-size: 18px;
}

.nav-dashboard ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-dashboard ul li:nth-child(2),
.nav-dashboard ul li:nth-child(3),
.nav-dashboard ul li:nth-child(4),
.nav-dashboard ul li:last-child {
  margin-top: 10px;
}

/*---------------------------------------------*/
/*//////////////////////// LOGIN ////////////////////////////////////////// */
#form-login {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/oups3.jpg");
  background-size: cover;
}

#form-login .limiter {
  width: 100%;
  margin: 0 auto;
}

#form-login .limiter .container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: absolute;
  left: 0;
  z-index: 1000;
}

#form-login .limiter .container-login100 .wrap-login100 {
  width: 390px;
  border-radius: 10px;
  position: absolute;
  top: center;
  left: 2%;
  overflow: hidden;
  background: transparent;
}

#form-login .limiter .container-login100 .wrap-login100 .login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

#form-login .limiter .container-login100 .wrap-login100 .login100-form-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

#form-login .limiter .container-login100 .wrap-login100 .login100-form-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: white;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #D8CF8E;
  padding: 29px 0;
  opacity: 1;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .input100 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  opacity: 1;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #7b3b14;
  background: -webkit-gradient(linear, left top, right top, from(#A56136), color-stop(#7b3b14), to(#542001));
  background: linear-gradient(left, #A56136, #7b3b14, #542001);
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: white;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .input100:focus {
  padding-left: 60px;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .input100:focus + .focus-input100::after {
  left: 23px;
  color: #7b3b14;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .input100:focus + .focus-input100::before {
  width: 100%;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .has-val.input100 + .focus-input100::after {
  left: 23px;
  color: #7b3b14;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .has-val.input100 + .focus-input100::before {
  width: 100%;
}

#form-login .limiter .container-login100 .wrap-login100 form .wrap-input100 .has-val.input100 {
  padding-left: 60px;
}

#form-login .limiter .container-login100 .wrap-login100 form .container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#form-login .limiter .container-login100 .wrap-login100 form .container-login100-form-btn .login100-form-btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#A56136), color-stop(#f7f1ed), to(#542001));
  background: linear-gradient(left, #A56136, #f7f1ed, #542001);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#form-login .limiter .container-login100 .wrap-login100 form .container-login100-form-btn .login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #542001;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#form-login .limiter .container-login100 .wrap-login100 form .container-login100-form-btn .login100-form-btn:hover {
  background-color: transparent;
}

#form-login .limiter .container-login100 .wrap-login100 form .container-login100-form-btn .login100-form-btn:hover:before {
  opacity: 1;
}

#form-login .limiter::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 30.5%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.55;
}

/*//////////////////////// MAIL ////////////////////////////////////////// */
#send_mail {
  background-color: black;
  color: white;
}

/*//////////////////////// UPDATE ////////////////////////////////////////// */
.container-new-mdp {
  display: none;
}

#container-messages {
  padding-top: 50px;
}

#container-messages .container-match {
  padding: 50px;
}

#container-messages .container-match h3 {
  font-size: 17px;
}

#container-messages .container-match span {
  font-size: 10px;
  padding: 0.25rem 0.7rem;
}

#container-messages .container-match .form-response {
  width: 70%;
}

#container-messages .container-match .form-response label {
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  height: 15px;
}

#container-messages .container-match .form-response .response-input {
  width: 50px;
  padding: 2px 5px;
  margin-left: 20px;
}

#update-user #container-modif {
  padding-left: 25%;
  padding-right: 25%;
}

#update-user #container-modif .input-group {
  height: 100px !important;
}

#update-user #container-modif .input-group .btn {
  margin-top: 20px !important;
}

#update-user #container-modif .input-group .info_comp {
  font-size: 13px;
  margin-top: 10px;
}

#update-user #container-modif .badge {
  position: absolute;
  right: 13px;
  top: 59px;
  cursor: pointer;
}

#update-user #container-modif #container-new-mdp {
  display: none;
}

#list-profil-img .container-img .profil-img {
  width: 100%;
  margin: 7px;
}

.pop-up-open {
  left: calc(50% + 100px) !important;
  /* à 50%/50% du parent référent */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#pop-change-pp {
  position: fixed;
  padding: 30px 30px 50px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f68c5), to(#0a306e));
  background: linear-gradient(top, #2f68c5, #0a306e);
  width: 50vw;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: -50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#pop-change-pp #btn-pop-close {
  width: 20px;
  height: 20px;
  background: red;
  margin-left: auto;
  cursor: pointer;
}

#pop-change-pp .form-change-pp {
  background-color: white;
  padding: 20px;
}

#pop-change-pp .form-change-pp .container-img {
  width: 7%;
  /* HIDE RADIO */
  /* IMAGE STYLES */
  /* CHECKED STYLES */
}

#pop-change-pp .form-change-pp .container-img [type=radio] {
  position: absolute;
  opacity: 0;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

#pop-change-pp .form-change-pp .container-img [type=radio] + img {
  cursor: pointer;
}

#pop-change-pp .form-change-pp .container-img [type=radio]:checked + img {
  outline: 1px solid #ff8616;
}

#pop-change-pp .form-change-pp .container-img .profil-img {
  padding: 5px;
  cursor: pointer;
}

#notif #create-notif {
  width: 70%;
}

#notif #create-notif .form-notif .input-group-lieu {
  margin-top: 45px;
}

#notif #list-notif {
  padding: 30px;
}

#notif #list-notif h3 {
  font-size: 16px;
}

/*//////////////////////// STATISTIC ////////////////////////////////////////// */
canvas {
  margin-top: 200px;
  margin-left: 25%;
  width: 70% !important;
  height: 600px !important;
}

.graphique h1 {
  color: #44000d;
  text-align: center;
  font-size: 35px;
  margin-left: 21%;
  margin-top: 130px;
}

.graphique .container .row canvas {
  margin-top: 80px;
}

/*------------------------------------------------------------------
[ Alert validate ]*/
/*# sourceMappingURL=style.css.map */